__pycache__/declarations.cpython-310.pyc
__pycache__/declarations.cpython-311.pyc
__pycache__/edit_widget.cpython-310.pyc
__pycache__/edit_widget.cpython-311.pyc
__pycache__/formattable_text_edit.cpython-310.pyc
__pycache__/formattable_text_edit.cpython-311.pyc
__pycache__/get_scripture.cpython-310.pyc
__pycache__/get_scripture.cpython-311.pyc
__pycache__/gui.cpython-310.pyc
__pycache__/gui.cpython-311.pyc
__pycache__/help.cpython-310.pyc
__pycache__/help.cpython-311.pyc
__pycache__/importers.cpython-310.pyc
__pycache__/importers.cpython-311.pyc
__pycache__/live_widget.cpython-310.pyc
__pycache__/live_widget.cpython-311.pyc
__pycache__/main.cpython-310.pyc
__pycache__/main.cpython-311.pyc
__pycache__/media_widget.cpython-310.pyc
__pycache__/media_widget.cpython-311.pyc
__pycache__/oos_widget.cpython-310.pyc
__pycache__/oos_widget.cpython-311.pyc
__pycache__/openlp_import.cpython-310.pyc
__pycache__/openlyrics_export.cpython-310.pyc
__pycache__/openlyrics_export.cpython-311.pyc
__pycache__/parsers.cpython-310.pyc
__pycache__/parsers.cpython-311.pyc
__pycache__/powerpoint_viewer.cpython-310.pyc
__pycache__/preview_widget.cpython-310.pyc
__pycache__/preview_widget.cpython-311.pyc
__pycache__/print_dialog.cpython-310.pyc
__pycache__/print_dialog.cpython-311.pyc
__pycache__/settings_widget.cpython-310.pyc
__pycache__/settings_widget.cpython-311.pyc
__pycache__/simple_splash.cpython-310.pyc
__pycache__/simple_splash.cpython-311.pyc
__pycache__/songselect_import.cpython-310.pyc
__pycache__/songselect_import.cpython-311.pyc
__pycache__/toolbar.cpython-310.pyc
__pycache__/web_remote.cpython-310.pyc
__pycache__/web_remote.cpython-311.pyc
__pycache__/widgets.cpython-310.pyc
__pycache__/widgets.cpython-311.pyc
.idea/.gitignore
.idea/workspace.xml
error.log
.unusedCode/powerpoint_viewer.py
